body{
    /* background: url("https://nancieteresa.files.wordpress.com/2015/01/grunge-travel-background-239421341.jpg"); */
    /* background: url("https://thumbs.dreamstime.com/z/swoosh-certificate-blue-modern-background-abstract-halftone-lines-create-smooth-border-vector-illustration-47723282.jpg"); */
    font-family: 'Quicksand','Fredoka One', 'Bevan', sans-serif;
    background-position: absolute;
    
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: rgb(0, 0, 0);
}
#bg{ 
    background: url(../images/trvl.png);
    background-position: absolute;
    padding-bottom: 700px;
    background-repeat: no-repeat;
    background-size: cover;

}
#btn-submit{
    text-align: center;
    display: block;
    margin: 0 auto;
    background: #4fbaf4;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    font-size: 20px
}


.form-control{
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    text-align: center;
    font-size: 20px;
}

#delete-button{
    margin: auto;
    color: rgba(0,0,0,.03);
    color: red;
    padding: 10px;
}

#weather-here{
    font-family: 'Bevan';
    font-size: 35px;
    color: #575b59;
}


#dump-pic-here{
   
    align-content: center;
    justify-content: center;
    
}
.i{
    color: rgb(44, 124, 167);
    font-size: 40px;
}
