body{
    background: white;
    font-family: 'Quicksand', sans-serif;
}
h1{
    color: rgb(0, 0, 0);
}
#bg{ 
    background: url(../images/trvl.png);
    background-position: absolute;
    padding-bottom: 700px;
    background-repeat: no-repeat;
    background-size: cover;

}
#btn-submit{
    text-align: center;
    display: block;
    margin: 0 auto;
    background: #4fbaf4;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    font-size: 20px
}


.form-control{
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    text-align: center;
    font-size: 20px;
}

#delete-button{
    margin: auto;
    color: rgba(0,0,0,.03);
    color: red;
    padding: 10px;
}

#weather-here{
    background: #4cb4ec;
}
#dump-outdoor-here{
    background: #66dfb0;
}

#dump-pic-here{
    background-color: rgb(236, 145, 145);
}
