body{
    background: white;
}
h1{
    color: rgb(0, 0, 0);
}
#bg{ 
    background: url(../images/trvl.png);
    background-position: center;
    padding-bottom: 500px;
    background-repeat: no-repeat;
    background-size: cover;

}
#btn-submit{
    text-align: center;
}

.form-control{
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    text-align: center;
}

#btn-submit{
    display: block;
    margin: 0 auto;
    background-color: white;
}
    
